* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}

header {
    width: 100vw;
    
    text-align: center;
}
header div {
    margin: 0 auto;
    margin-top: 4.8rem;
}
header div .Title {
  height: 45px;
  
}
header div .Subtitle {
  margin-top: 5px;
} 
.Title span {
    font-size: 4.5rem;
}
.Title {
    /*font-family: Linux Libertine,Hoefler Text,Georgia,Times New Roman,Times,serif;*/
    font-family: 'Crimson Text', serif;
    font-size: 3rem;
}
.Subtitle {
    font-size: 1.8rem;
    font-family: 'Crimson Text', serif;
}
main {
  width: 100vw;    
  text-align: center;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(5,45px);
    grid-template-columns: repeat(41,12px);
    grid-row-gap: 20px;
    grid-column-gap: 2px;
    grid-template-areas:
    "area1 . . . . . area2 area2 area2 area2 area2 area2 area2 area2 area2 area2 . . . . . . . . . area3 area3 area3 area3 area3 area3 area3 area3 area3 area3 . . . . . area4"
    "area5 . area6 area6 area6 area6 area6 area6 area6 area6 area6 area6 . area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 . area8 area8 area8 area8 area8 area8 area8 area8 area8 area8 . area9"
    "area10 area11 area11 area11 area11 area11 area11 area11 area11 area11 area11 . . area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 . . area12 area12 area12 area12 area12 area12 area12 area12 area12 area12 area13"
    "area14 . area15 area15 area15 area15 area15 area15 area15 area15 area15 area15 . area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 area7 . area16 area16 area16 area16 area16 area16 area16 area16 area16 area16 . area17"
    "area18 . . . . . area19 area19 area19 area19 area19 area19 area19 area19 area19 area19 . . . . . . . . . area20 area20 area20 area20 area20 area20 area20 area20 area20 area20 . . . . . area21";
    margin-top: 20px;
  }

  .grid-item1 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area1;
    
  }
  
  .grid-item2 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area2;
  }
  
  .grid-item3 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area3;
  }
  .grid-item4 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area4;
  }
  .grid-item5 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area5;
  }
  .grid-item6 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area6;
  }
  .grid-item7 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area7;
   
    height: 205px;
    margin-top: -15px;
  }
  .grid-item7 img {
    width: 100%;
    height: 100%;
  }
  .grid-item8 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area8;
  }
  .grid-item9 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area9;
  }
  .grid-item10 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area10;
  }
  
  .grid-item11 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area11;
  }
  .grid-item12 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area12;
  }
  .grid-item13 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area13;
  }
  .grid-item14 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area14;
  }
  
  .grid-item15 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area15;
  }
  .grid-item16 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area16;
  }
  .grid-item17 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area17;
  }
  .grid-item18 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area18;
  }
  
  .grid-item19 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area19;
  }
  .grid-item20 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area20;
  }
  .grid-item21 {
    background: aquamarine;
    text-align: center;
    border: black 2px solid;
    grid-area: area21;
  }

  .main-list-container {
    margin-top: 2.5rem;
  }
  /*
  #lang2 {
    margin-top: 3rem;
  }*/

  .main-list-container {
    width: 45rem;
    height: 4.4rem;
    
    display: flex;
    margin: 0 auto;
    margin-top: 2.7rem;
    justify-content: center;
    align-items: center;
    border: #DCDCDC 1px solid;
  }
  
.search {
  width: 5.4rem;
  height: 4.4rem;
  background-color: #4535E4;
  cursor: pointer;

}
/*.main-list-container .search .search-icon {*/
.search img {
  /*background-image: url('https://img.icons8.com/android/24/000000/search.png');
  background-image: url('https://ebling.library.wisc.edu/wp-content/uploads/2019/03/whitesearchicon.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 5.6rem;
  height: 1.8rem;*/
  width: 65%;
  height: 65%;
  margin-top: 0.5rem;
    
}
  
.main-list-container input {
  width: 36rem;
  height: 4rem;
  border: none;
  outline: none;
  padding-left: 1rem;
}
.main-list-container select {
  width: 4.5rem;
  padding-left: 6px;
  border: none;
}

.Second-list-container {
  width: 30rem;
  height: 3.6rem;
  border: 1px solid #dfe1e5;
  display: flex;
  margin: 0 auto;
  margin-top: 3.2rem;
  justify-content: center;
  align-items: center;
  border: #DCDCDC 1px solid;
}
.Message-lang {
  width: 25rem;
  height: 4rem;
  border: none;
  outline: none;
  padding-left: 1rem;
  margin-top: 2.4rem;
}
.Message-lang p {
  font-size: 15px;
  color: #4535E4;
  font-weight: bold;
}
.Second-list-container select {
  width: 4.5rem;
  padding-left: 6px;
  border: none;
  
}

.FooterUp {
  width: 92%;
  border: black 1px dotted;
  margin: 0 auto;
  margin-top: 3rem;
}
.legend-up {
  
  margin: 0 auto;
  display:inherit;
  align-items: center;
}
.legend-up img {
  
  width: 42px;
  height: 42px;
  margin: 0 auto;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;  
}

.legend-up p {
  
  font-size: 13.5px;
  justify-content: center;
  
}

.legend-up p a {
  text-decoration: none;
}
.GridUtilities {
  display: grid;
  grid-template-columns: repeat(3,22rem);
  grid-template-rows: repeat(4,7.6rem);
  justify-content: center;
  margin-top: 3.2rem;
}
.item {
  background-color: #C9C7E2;
  border: black 1px solid;
  display: flex;
  align-items: center;
}
/*
.item {
  display: flex;
}*/
.item :nth-child(1) {
  width: 30%;
  
}
.item :nth-child(1) img {
  width: 70%;
  height: 70%;
  /*margin-top: 13px;*/
}
.Utility {
  width: 70%;
  height: auto;
}
.item .Utility :nth-child(1) {
  font-size: 14px;
  width: 100%;
  text-align: left;
  /*padding-top: 22px;*/
  margin: auto 0;
  color: #7B7BEA
}
.item .Utility :nth-child(2) {
  font-size: 13.4px;
  text-align: left;
}

.legend-down {
  /*width: 92%;
  margin: 0 auto;*/
  border: black 1px solid;
  margin-top: 2.5rem;
}
.legend-down img {
  display: inline-block;
}

.parr1 {
  display: inline-block;
}