.ContainerGrid {
    display: grid;
    /*grid-template-rows: 100px [Line1] 100px [Line2] 100px [Line3];*/
    grid-template-rows: repeat(4, auto);
    /*grid-template-columns: 100px 100px 100px 100px;*/
    grid-template-columns: repeat(3, 30%);
    grid-gap: 5px;

    justify-content: center;
  }
  
  .c1 {
    background: blue;
    text-align: center;
    border: black 1px solid;
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    /*grid-row-end: 2;*/
    /*position: relative;*/
    
  }
  
  .c2, .c3, .c4, .c5, .c6, .c7 {
    background: grey;
    text-align: center;
    border: black 1px solid;

    /*position: relative;*/
    /*margin-top: 30px;*/
    
       
  }
/*
  .c2, .c3, .c4 {
    margin-top: 30px;
    grid-row-start: 2;
    
  }
  .c5, .c6, .c7 {
    margin-top: 30px;
    grid-row-start: 3;
  }
  */
  .c8 {
    background: blue;
    text-align: center;
    border: black 1px solid;
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 4;
    /*grid-row-end: 5;*/
    /*position: relative;*/
    
  }

  @media (min-width: 900px) {
    .ContainerGrid {
        display: grid;
        /*grid-template-rows: 100px [Line1] 100px [Line2] 100px [Line3];*/
        grid-template-rows: repeat(2, auto);
        /*grid-template-columns: 100px 100px 100px 100px;*/
        grid-template-columns: repeat(5, 18%);
        grid-gap: 5px;
      }
      
      .c1 {
        background: blue;
        text-align: center;
        border: black 1px solid;
        
        
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
        
        margin-right: 20px;
        /*width: 280px;
        height: 130px;*/
        
      }
      
      .c2, .c3, .c4, .c5, .c6, .c7 {
        background: grey;
        text-align: center;
        border: black 1px solid;
                   
      }
      /*
      .c2, .c3, .c4 {
        grid-row-start: 1;
      }
      .c5, .c6, .c7 {
        grid-row-start: 2;
      }
      .c2, .c5 {
        grid-column-start: 4;
      }
      .c3, .c6 {
        grid-column-start: 5;
      }
      .c4, .c7 {
        grid-column-start: 6;
      }
*/
      .c8 {
        background: blue;
        text-align: center;
        border: black 1px solid;
        
        
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        
        margin-top: 10px;
        margin-right: 20px;
        /*width: 250px;
        height: 90px;
        margin-top: 35px;*/
        
      }
  }